@{
    // TODO: Consider setting Layout set automatially in _ViewStart.cshtml
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";


    // EXAMPLE:
    // Using the ViewBag on a page to set the title and sub-title
    // This will cause the _AdminLteLayout to include this value in the page title
    // And also set the top titles in the main content area of the page
    ViewBag.Title = "Doctor Details";
    //ViewBag.TitleSmall = "Version 2.0";

    // EXAMPLE:
    // Using the Breadcrumb class to create a dynamically generated breadcrumb on the page with
    // Titles, plus optional icon and URLs
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Doctor Details", "", "fa-table")
    });
}
<div class="row">   
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-body">
                @{ Html.RenderAction("GetDoctorDetails", "DoctorRegistration"); }
            </div>
        </div>
    </div>
</div>
