<?xml version="1.0"?>
<configuration>
	<configSections>
  <section name="log4net" 
    type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
</configSections>
  <appSettings/>
  <system.web>
	  
	  
	  
    <compilation debug="true" targetFramework="4.0"/>
	  <customErrors  mode="Off"/>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0"/>
	  <pages validateRequest="false"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
			
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception det	ails in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
		  <behavior name="httpBehavior">
			 
			  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
			  <serviceDebug includeExceptionDetailInFaults="false"/>
		  </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="REST">
				<webHttp/>
			</behavior>
		</endpointBehaviors>		
    </behaviors>
	  
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
	  <services>
		  
	<service name="TinnitusTrioService.Service1" behaviorConfiguration="httpBehavior" >
    <!--<endpoint address="Service1" binding="basicHttpBinding"--> 
        <!--contract="TinnitusTrioService.IService1"  />-->
		
	

        <endpoint address="bll" binding="basicHttpBinding" contract="TinnitusTrioService.IService1"/>
	<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		<endpoint  address="" behaviorConfiguration="REST"   binding="webHttpBinding" contract="TinnitusTrioService.IService1"></endpoint>
</service>
	  </services>  
  
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <security>

		  <requestFiltering allowDoubleEscaping="true"></requestFiltering>
	  </security>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="DBTinnitusTrio" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>
	  <!--<add name="DBTinnitusTrio" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>


 <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>-->

<log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\MyLogFile.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>