<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
 
    <!--<add name="MyConnectionString" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>-->
		<add name="MyConnectionString" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>
		<!--<add name="MyConnectionString" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>-->
        <!--<add name="DBTinnitusTrio" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>-->
        <add name="DBTinnitusTrio" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>  
		<!--<add name="DBTinnitusTrio" connectionString="REPLACE_WITH_ENVIRONMENT_SPECIFIC_VALUE" providerName="System.Data.SqlClient"/>-->  

</connectionStrings>
</configuration>